body {
    font-family: Arial, Helvetica, sans-serif;
}

#video_content {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-rows: 700px 100px;
    justify-items: center;
}

#captured_video {
    width: 98%;
    height: 98%;
    border: 1px solid #999;
}