body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #171717;
}

#top-nav {
    background-color: #0a0a0a !important;
}

#video_content {
    max-width: 1000px;
    margin: 20px auto auto auto;
    display: grid;
    grid-template-rows: 700px 100px;
    justify-items: center;
}

#captured_video {
    width: 98%;
    height: 98%;
    background-color: #333333;
}

.dropdown-menu{
    background-color: #0a0a0a;
}

.dropdown-item{
    color: white;
}

.dropdown-item.active, .dropdown-item:active {
    color: #0a0a0a;
    background-color: white;
}

.fa-user{
    margin-right: 7px;
}

#stream-key{
    width: 500px;
}

#stream-key-label{
    margin-bottom: 0;
    margin-right: 10px;
}

#view-stream-key{
    margin-left: 7px;
    margin-top: 6px;
}

#view-stream-key:hover{
    color: gray;
}